<p id="notice"><%= notice %></p>
<div class="jumbotron">

<h1 class="display-7"><%=@cohort.name + " Cohort"%></h1>
<p>
  <strong>Course:</strong>
  <%= @cohort.course.name %>
</p>

<p>
  <strong>Teacher:</strong>
  <%= @cohort.teacher.first_name + " " + @cohort.teacher.last_name %>
</p>

<p>
  <strong>Name:</strong>
  <%= @cohort.name %>
</p>

<p>
  <strong>Start date:</strong>
  <%= @cohort.start_date %>
</p>

<p>
  <strong>End date:</strong>
  <%= @cohort.end_date %>
</p>
  <p class="lead">
    <%= link_to 'Edit', edit_cohort_path(@cohort), class: "btn btn-primary" %> |
    <%= link_to 'Back', :back, class: "btn btn-primary" %>  </p>
</div>






<h2>Enrolled Students</h2>
<table class="table table-striped ">
  <thead class="thead-light">
    <tr>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Age</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @students.each do |student| %>
      <tr>
        <td><%= student.first_name %></td>
        <td><%= student.last_name %></td>
        <td><%= student.age %></td>
        <td><%= link_to 'Show', student %></td>
<!--        <td><%= link_to 'Edit', edit_student_path(student) %></td>
        <td><%= link_to 'Destroy', student, method: :delete, data: { confirm: 'Are you sure?' } %></td>-->
      </tr>
    <% end %>
  </tbody>
</table>
