<p id="notice"><%= notice %></p>
<div class="jumbotron">

<h1 class="display-7"><%="Course Information:"%></h1>
<p>
  <strong>Name:</strong>
  <%= @course.name %>
</p>

<p>
  <strong>Hours:</strong>
  <%= @course.hours %>
</p>

  <p class="lead">
    <%= link_to 'Edit', edit_course_path(@course), class: "btn btn-primary" %> |
    <%= link_to 'Back', courses_path, class: "btn btn-primary" %> 
</div>




<h2> Course Cohorts </h2>
<table class="table table-striped ">
  <thead class="thead-light">
    <tr>
      <th>Name</th>
      <th>Start date</th>
      <th>End date</th>
      <th>Course</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @cohorts.each do |cohort| %>
      <tr>
        <td><%= cohort.name %></td>
        <td><%= cohort.start_date %></td>
        <td><%= cohort.end_date %></td>
        <td><%= cohort.course_id %></td>
        <td><%= link_to 'Show', cohort %></td>
<!--        <td><%= link_to 'Edit', edit_cohort_path(cohort) %></td>
        <td><%= link_to 'Destroy', cohort, method: :delete, data: { confirm: 'Are you sure?' } %></td>-->
      </tr>
    <% end %>
  </tbody>
</table>